{% extends "base.html" %}
{% load static %}

{% block content1 %}

<div class="row justify-content-center">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1>Data Visualization with Power BI</h1>
            </div>
            <div class="flip-card-back">
                <h1>By Great Learners</h1>
            </div>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1>Django Fundamentals Fast Track </h1>
            </div>
            <div class="flip-card-back">
                <h1>By Alison</h1>
            </div>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1>Python with Django</h1>
            </div>
            <div class="flip-card-back">
                <h1>By Mindrisers Institute of Technology</h1>
            </div>
        </div>
    </div>

    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h1>Data Analytics Bootcamp</h1>
            </div>
            <div class="flip-card-back">
                <h1>By Datamites</h1>
            </div>
        </div>
    </div>
</div>

{% endblock content1 %}
